{% extends "SanSISCoreSandboxBundle::base.html.twig" %}

{% block box_title %}Dados do Usuário{% endblock %}

{% block box_content %}

	<form action="{{  path('sansis_core_sandbox_save') }}" method="post" id="j_cadastroForm">
		<ul>
			<li class="span8">
				<label for="nome">Nome:</label>
				<input id="nome" type="text" name="Nome" class="span8"></li>
			<li class="span2">
				<label>&nbsp;</label>
				<a href="#" id="searchBt" class="btn btn-primary">Pesquisar</a>
				<a href="#" id="clearBt" class="btn">Limpar</a>
			</li>
		</ul>
		    
		<div class="jqGrid_container span10 marginBottom">
			<table id="grid" class="grid"></table>
			<div id="pager"></div>
		</div>
		
	</form>

{% endblock %}

{% block box_javascripts %}

	<script>
	
	    $(document).ready(function() {
	
	        $("#grid").jqGrid({
	
	            url:'{{ path('sansis_core_sandbox_search') }}',
	            datatype: "json",
	            colNames:[
	                        'Nome',
	                        'E-mail' ,
	                    'Ação'
	            ],
	            colModel:[  {name:'noCadastrante',index:'g.noCadastrante', width:100},
	                        {name:'dsEnderecowebCadastrante',index:'g.dsEnderecowebCadastrante', width:50},
	                        {name:'Acao',index:'Acao', width:20, align:"center"} 
	            ],
	             scrollOffset: 0,
	             forceFit:true,
	             hidegrid: false,
	             height: '254',
	             autowidth: true,
	             shrinkToFit: true,
	             pager: '#pager',
	             viewrecords: true,
	             sortname: 'g.noCadastrante',
	             sortorder: "asc",
	             rowNum: 11,
	             loadComplete: function() {
	                 if ($(this).getGridParam("records")==0)
	                 {
	                   $( "#dialog-msg" ).dialog({
	                    resizable: false,
	                    height:140,
	                    modal: true,
	                    buttons: {
	                          "Fechar": function() {
	                          $( this ).dialog( "close" );
	                        }
	                      }}).html('Nenhum registro encontrado com estes parâmetros.');
	                 }
	               }
	         });
	
	        $("#searchBt").click( function ()
	        {
	
	            $('#grid').jqGrid('clearGridData');
	
	            $('#grid').jqGrid('setGridParam', { postData : {
	                'noCadastrante':             $("#nome").val()
	              }
	            }).trigger("reloadGrid");
	
	       });
	
	        $("#clearBt").click( function ()
	        {
	            $("#nome").val('');
	            $("#cpf").val('');
	            $("#passaporte").val('')
	
	            $('#grid').jqGrid('clearGridData');
	
	            $('#grid').jqGrid('setGridParam', { postData : {
	                                                        nome:             $("#nome").val(),
	                                                        cpf:              $("#cpf").val(),
	                                                        passaporte:     $("#passaporte").val()
	                                              }
	            }).trigger("reloadGrid");
	
	       });
	
	
	
	    });
	
	    function confirmarRemocao(id) {
	        $( "#dialog-confirm-remove" ).dialog({
	          resizable: false,
	          height:140,
	          modal: true,
	          buttons: {
	            "Sim": function() {
	                $.ajax({
	                    type: "POST",
	                    url: "{{ path('sansis_core_sandbox_delete') }}",
	                    data: { id: id},
	                    dataType: 'json'
	                })
	                .success(function() {
	                    $("#searchBt").trigger('click');
	                    $( "#dialog-msg" ).dialog({
	                            resizable: false,
	                            height:140,
	                            modal: true,
	                            buttons: {
	                                  "Fechar": function() {
	                                  $( this ).dialog( "close" );
	                                }
	                              }}).html('Item removido com sucesso');
	                    $( this ).dialog( "close" );
	                })
	                .error(function() {
	                    $( "#dialog-msg" ).dialog({
	                            resizable: false,
	                            height:150,
	                            modal: true,
	                            buttons: {
	                                  "Fechar": function() {
	                                  $( this ).dialog( "close" );
	                                }
	                              }}).html('Ocorreram erros ao tentar remover o registro selecionado. Entre em contato com o administrador do sistema.');
	                    $( this ).dialog( "close" );
	                });
	                $( this ).dialog( "close" );
	            },
	            "Não": function() {
	              $( this ).dialog( "close" );
	            }
	          }
	        });
	      }
	
	</script>

{% endblock %}


